body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

section {
  max-width: 800px;
  margin: 2em auto;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  color: #333;
}

p {
  line-height: 1.6;
}

.image-container {
  text-align: center;
  margin-bottom: 2em;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.image-container p {
  font-size: 1.2em;
  color: #333;
}
